# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
# Our Global Owners: @happyhuman @dizcology @sirtorry @andrewferlitsch
*       @GoogleCloudPlatform/cloudml-samples-owners

/notebooks/keras @sirtorry
/notebooks/pytorch @sirtorry
/notebooks/scikit-learn @happyhuman
/notebooks/tensorflow @sirtorry
/notebooks/xgboost @happyhuman
/pytorch @sirtorry
/sklearn @happyhuman
/tools @dizcology
/tpu @dizcology
/xgboost @happyhuman
*.md @sirtorry
